footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-blue-600);
    padding-block: 20px;
}
.me{
    color: var(--color-white);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    
}
