.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100vw;
    max-height: 82px;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 253, 249, 1);
    z-index: 2; 
} 

.logo-name{
    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;
}
.name{
    font-size: 20px;
    font-weight: 700;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: var(--color-grey);
}

.button.black{
    background-color: var(--color-blue-900);
    color: var(--color-white);
    padding: 5px 15px;
    border-radius: 28px;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    margin: 0px 10px 0px 10px;
}

.button.black:hover{
    background-color: var(--color-blue-600);
}